@font-face {
    font-family: 'lemon_milkregular';
    src: url('fonts/lemonmilk-regular-webfont.woff2') format('woff2'),
         url('fonts/lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}

@keyframes change {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

#lbuttons {
	text-align: right;
}

#title {
	font-family: 'lemon_milkregular';
	font-size: 80px;
	text-align: center;
}

#brief {
	font-family: 'lemon_milkregular';
	font-size: 23px;
	text-align: center;
}

.travel_button {
	font-family: 'lemon_milkregular';
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	position: relative;
	display: block;
	color: white;
	font-size: 55px;
	text-decoration: none;
	margin: 30px 0;
	border: 3px solid #EC3E60;
	padding: 60px 240px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
}

.btn::before {
	background: #EC3E60;
	content:"";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.btn1::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.btn1:hover::before {
	height: 465%;
}

#earth {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5px;
}

#a_us {
	position: absolute;
	top: 99%;
	left: 1%;
	transform: translate(-1%, -99%);
}

.btn_a_us {
	position: relative;
	display: block;
	color: white;
	font-size: 14px;
	font-family: 'lemon_milkregular';
	text-decoration: none;
	margin: 10px 0;
	border: 3px solid #EC3E60;
	padding: 14px 50px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
}

.btn_a_us::before {
	background: #EC3E60;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 99%;
	left: 1%;
	transform: translate(-1%, -99%);
	z-index: -1;
	transition: all 0.6 ease;
}

.about_us::before {
	width: 0;
	height: 100%;
}

.about_us:hover::before {
	width: 100%;
}